<h1><%=@user.username%>'s goal page</h1>

<ul>
    <%@user.goals.each do |goal|%>
        <li>
            <a href="<%=user_goal_path(goal)%>"><b><%=goal.goal_title%></b></a>
            <br>
            <%=goal.goal_description%>
            <br>
            <%=goal.is_private%>
            <br>
            <%=goal.is_completed%>
        </li>
    <%end%>
</ul>

<form action="<%=new_goal_path%>" method="get">
    <input type="submit" value="Create new goal!">
</form>

<br>
<br>

<h2>comments</h2>
<ul>
    <%@user.received_user_comments.each do |comment|%>
        <li>
            <%=comment.comment_text%>
        </li>
    <%end%>
</ul>


<form action="<%=user_comments_path%>" method="post">
    <h3>New Comment:</h3>
    <%= render 'shared/errors' %>
    <%= auth_token %>
    <input type="hidden" name="user_comment[user_id]" value="<%=@user.id%>">
    <label>Comment:
        <textarea id="user_comment_text" name = "user_comment[comment_text]"></textarea>
    </label>
    <br>

    <input type="submit" value="Submit Comment">
</form>